
@font-face {
    font-family: 'Moana';
    src: url('assets/media/fonts/Moanas.ttf') format('truetype');
}

@font-face {
    font-family: 'Moana-jonnas';
    src: url('assets/media/fonts/Moanas-jonnas.ttf') format('truetype');
}

h1{
    opacity: 1;
}

.bottom-0 {
    bottom: 0;
}

.ff-moana {
    font-family: 'Moana','Moana-jonnas',sans-serif;
}

.video-wrapper {
    position: relative;
    padding-bottom: 41.25%; /* 16:9 Aspect Ratio */
    height: 0;
    overflow: hidden;
}

.responsive-video {
    position: absolute;
    top: -18%;
    left: 0;
    width: 100%;
    height: auto;
    border: 0;
}