// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------

@font-face {
    font-family: 'Moana';
    src: url('/lexi-1st-bday/assets/media/fonts/Moanas-jonnas.ttf') format('truetype');
}

@font-face {
    font-family: 'Moana-jonnas';
    src: url('/lexi-1st-bday/assets/media/fonts/Moanas-jonnas.ttf') format('truetype');
}

@font-face {
    font-family: 'Moana';
    src: url('/assets/media/fonts/Moanas-jonnas.ttf') format('truetype');
}

@font-face {
    font-family: 'Moana-jonnas';
    src: url('/assets/media/fonts/Moanas-jonnas.ttf') format('truetype');
}

h1{
    opacity: 1;
}

.bottom-0 {
    bottom: 0;
}

@for $i from 1 through 1000{
    .w-#{$i}px { 
        width: #{$i}px;
    }
}
@for $i from 1 through 1000{
    .mw-#{$i}px { 
       max-width: #{$i}px;
    }
}
@for $i from 1 through 1000{
    .min-w-#{$i}px { 
        min-width: #{$i}px;
    }
}
@for $i from 1 through 1000{
    .h-#{$i}px { 
        height: #{$i}px;
    }
}
@for $i from 1 through 1000{
    .mh-#{$i}px { 
        max-height: #{$i}px;
    }
}
@for $i from 1 through 1000{
    .min-h-#{$i}px { 
        min-height: #{$i}px;
    }
}

.ff-moana {
    font-family: 'Moana','Moana-jonnas',sans-serif;
}

.video-wrapper {
    position: relative;
    padding-bottom: 41.25%; /* 16:9 Aspect Ratio */
    height: 0;
    overflow: hidden;
}

.responsive-video {
    position: absolute;
    top: -18%;
    left: 0;
    width: 100%;
    height: auto;
    border: 0;
}

.bg-sand {
    background-image: url('/assets/media/images/beach-png-41219.png');
    background-repeat: no-repeat;
    background-size: fill;
    background-position: center left;
}

.circular--portrait { 
    position: relative; 
    width: 100vw; 
    height: 100vw;
    max-width: 400px;
    max-height: 400px;
    overflow: hidden; 
    border-radius: 50%; 
} 

.circular--portrait img { 
    width: 100%; 
    height: auto; 
    margin-top:-20vw;
}

@media (min-width: 576px){
    .circular--portrait { 
        width: 30vw; 
        height: 30vw;
    }
    .circular--portrait img { 
        margin-top: -7vw;
    }
}